<?xml version="1.0" encoding="UTF-8" ?>
<ScriptSettings>
  <AssemblyReference>C:\Program Files\Sony\Vegas Pro 13.0\Google\Google.Cloud.TextToSpeech.V1.dll</AssemblyReference>
  <AssemblyReference>C:\Program Files\Sony\Vegas Pro 13.0\Google\Google.Api.Gax.dll</AssemblyReference>
  <AssemblyReference>C:\Program Files\Sony\Vegas Pro 13.0\Google\Google.Api.Gax.Grpc.dll</AssemblyReference>
  <AssemblyReference>C:\Program Files\Sony\Vegas Pro 13.0\Google\Google.Apis.Auth.dll</AssemblyReference>
  <AssemblyReference>C:\Program Files\Sony\Vegas Pro 13.0\Google\Google.Apis.Core.dll</AssemblyReference>

  <AssemblyReference>C:\Program Files\Sony\Vegas Pro 13.0\Google\Newtonsoft.Json.dll</AssemblyReference>

  <AssemblyReference>C:\Program Files\Sony\Vegas Pro 13.0\Google\Google.Protobuf.dll</AssemblyReference>




</ScriptSettings>
